.main-img {
  top: 0;
  background-image: url("../images/cat.jpg");
  background-size: cover;
  background-position: top 10em;
  height: 55rem;
  width: 100%;
}

.main-content {
  font-family: 'Grape Nuts', cursive;
  text-align: center;
  font-size: 7rem;
  padding-top: 25%;
}

.main-name {
  color: rgb(204, 199, 188);
  background-color: rgba(46, 46, 46, 0.24);
}

.about-title {
  width: 30rem;
  font-family: 'Grape Nuts', cursive;
  font-size: 5rem;
  text-align: center;
  margin: 3rem auto;
  border-bottom: solid rgba(46, 46, 46, 0.959);
  border-bottom-width: thin;
}

.about {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-container {
  margin: 3rem auto;
  width: 40%;
}

.about-content {
  margin: auto;
  font-family: 'Grape Nuts', cursive;
  border-bottom: solid rgba(46, 46, 46, 0.959);
  border-bottom-width: thin;
  font-size: 2rem;
}

.about-content-list {
  padding-top: 2rem;
  font-family: 'Yuji Boku', serif;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateX(5rem);
  transition: all 1.5s;
  width: 100%;
}

.about-content-list:hover {
  opacity: 1;
  height: max-content;
  width: 90%;
  transform: translateX(0);
}

.container {
  display: flex;
  width: 50%;
}