@media screen and (max-width: 959px) {
  .header {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: end;
    align-items: center;
    position: fixed;
  }

  .main-content {
    font-family: "Reenie Beanie", cursive;
    text-align: center;
    font-size: 6rem;
    padding-top: 25%;
  }

  .main-name {
    color: rgb(146, 146, 146);
    text-shadow: 1px 1px 0 #000;
    background-color: rgba(46, 46, 46, 0.24);
  }

  .about-title {
    width: 100%;
    font-family: "DotGothic16", sans-serif;
    font-size: 4rem;
    text-align: center;
    margin: 3rem auto;
    border-bottom: solid rgba(46, 46, 46, 0.959);
    border-bottom-width: thin;
  }

  .about {
    width: 100%;
  }

  .about-container {
    margin: 3rem auto;
    width: 70%;
  }

  .about-content {
    margin: auto;
    font-family: "DotGothic16", sans-serif;
    border-bottom: solid rgba(46, 46, 46, 0.959);
    border-bottom-width: thin;
    font-size: 2rem;
  }

  .about-content-list {
    padding-top: 2rem;
    font-family: "DotGothic16", sans-serif;
    font-size: 1.5rem;
    width: 100%;
  }

  .about-content-list:ontouchstart {
    opacity: 1;
    height: max-content;
    width: 90%;
    transform: translateX(0);
  }

  footer {
    background-color: #000;
    color: rgb(219, 219, 208);
    text-align: center;
    height: 2.5rem;
  }
}
